<!doctype html>
<html lang="ru" class="scrollbar-hide lenis lenis-smooth scroll-pt-16 astro-ouamjn2i">
  <head>
    <title>Личный кабинет Dokuhost</title>
  </head>
  <body>
    <header>
      <img src="/img/logo.png" alt="Dokuhost Logo">
    </header>
    {{{body}}}
  </body>
</html>
